Dear <%= @order.buyer_name %><br />
<br />
TreadHunter has successfully refunded your credit card ending in <%= @card_last_4 %> in the amount of <%= number_to_currency @order.total_order_price %>.  The reason given is: <br />
<br />
<%= @msg %><br />
<br />
A breakout of the original charges is shown below:<br />
<br />

<style>
	.total-line {
		border-bottom: 1px solid #000;
	}
</style>

<table>
	<tr>
		<th align="left">Description</th>
		<th align="right">Quantity</th>
		<th align="right">Price ea.</th>
		<th align="right">Total</th>
	</tr>
	<tr>
		<td align="left"><%= @order.tire_listing.short_description %></td>
		<td align="right"><%= @order.tire_quantity %></td>
		<td align="right"><%= number_to_currency @order.tire_ea_price %></td>
		<td align="right"><%= number_to_currency @order.total_tire_price %></td>
	</tr>
	<tr>
		<td align="left">Tire Installation</td>
		<td align="right"><%= @order.tire_quantity %></td>
		<td align="right"><%= number_to_currency @order.tire_ea_install_price %></td>
		<td align="right"><%= number_to_currency @order.total_install_price, :unit => '' %></td>
	</tr>
	<tr>
		<td>Sales Tax on order</td>
		<td></td>
		<td></td>
		<td align="right"><%= number_to_currency @order.sales_tax_collected, :unit => '' %></td>
	</tr>
	<tr>
		<td>Convenience Fee</td>
		<td></td>
		<td></td>
		<td align="right"><%= number_to_currency @order.th_user_fee, :unit => ''  %></td>
	</tr>
	<tr>
		<td>Sales tax on Convenience Fee</td>
		<td></td>
		<td></td>
		<td align="right"><%= number_to_currency @order.th_sales_tax_collected, :unit => ''  %></td>
	</tr>
	<tr>
		<td colspan="4" class="total-line"><span style="max-height: 1px"></span></td>
	</tr>
	<tr>
		<td>Total Order</td>
		<td></td>
		<td></td>
		<td align="right"><%= number_to_currency @order.total_order_price %></td>
	</tr>
</table>
<br />
<br />
Thank you for letting TreadHunter find the right tires for you, and we hope the experience has been easy and convenient for you.<br />
<br />
Sincerely,<br />
The TreadHunter Team<br />