<script>
  $(document).ready(function() {
    window.scrollTo(0, 0);
    show_or_hide_dow();
    show_or_hide_text_phone();
  });
  function show_or_hide_dow() {
    if ($("#tire_search_saved_search_frequency").attr('value') == 'Weekly')
    {
      $(".dow").removeClass("hidden");
    }
    else
    {
      $(".dow").addClass("hidden");
    }
  };
  function show_or_hide_text_phone() {
    if ($("#tire_search_send_text").attr('checked') == 'checked')
    {
      $(".textphone").removeClass("hidden");
    }
    else
    {
      $(".textphone").addClass("hidden");
    }
  };
</script>
<style>
  .message {
    display:inline;
    padding-left: 5px;
    color: red;
  }
</style>
<%= form_for @tire_search, :validate => true do |f| %>
  <% if @tire_search.errors.any? %>
    <hr />
    <div id="error_explanation">
      <h3>Please correct <%= (@tire_search.errors.count == 1 ? "this" : "these") %> <%= pluralize(@tire_search.errors.count, "error") %></h3>

      <ul>
      <% @tire_search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr />
  <% end %>

  <div class="actions">
    <table>
      <tr>
        <td><%= f.label 'Target email' %></td>
        <td><%= @tire_search.user.email %></td>
      </tr>
      <tr>
        <td><%= f.label :saved_search_frequency %></td>
        <td><%= f.select :saved_search_frequency, ['Daily', 'Weekly', 'None'], 
                        {:class => 'user'} %></td>
      </tr>
      <tr class="dow">
        <td><%= f.label :saved_search_dow, 'Day to receive alerts' %></td>
        <td><%= f.select :saved_search_dow, Date::DAYNAMES.zip((0..6).to_a), :class => 'users' %></td>
      </tr>
      <tr>
        <td><%= f.label :send_text, 'Get text instead of email?' %></td>
        <td><%= f.check_box :send_text %></td>
      </tr>
      <tr class="textphone">
        <td><%= f.label :text_phone, 'Text phone #' %></td>
        <td><%= f.text_field :text_phone, :validate => { :presence => true } %></td>
      </tr>
      <script>
        $('#tire_search_saved_search_frequency').change(function() {
          show_or_hide_dow();
        });
        $('#tire_search_send_text').change(function() {
          show_or_hide_text_phone();
        });
      </script>
    </table>
    <%= f.submit %>
  </div>
<% end %>
