<div class="feature">
  <h2>Featured Stores</h2>
  <p><em>Quality tire dealers located in your area</em></p>
</div>
<div class="feature-right">
  <ul>
    <li>
      <%= image_tag("homepage/dunlop.png", alt: "treadhunter") %>
      <%= image_tag("homepage/mobile.png", alt: "treadhunter") %>
      <%= image_tag("homepage/purcell.png", alt: "treadhunter") %>
      <%= image_tag("homepage/atg.png", alt: "treadhunter") %>
      <%= image_tag("homepage/bridgesrone.png", alt: "treadhunter") %>
    </li>
    <li>
      <%= image_tag("homepage/dunlop.png", alt: "treadhunter") %>
      <%= image_tag("homepage/mobile.png", alt: "treadhunter") %>
      <%= image_tag("homepage/purcell.png", alt: "treadhunter") %>
      <%= image_tag("homepage/atg.png", alt: "treadhunter") %>
      <%= image_tag("homepage/bridgesrone.png", alt: "treadhunter") %>
    </li>
    <li>
      <%= image_tag("homepage/dunlop.png", alt: "treadhunter") %>
      <%= image_tag("homepage/mobile.png", alt: "treadhunter") %>
      <%= image_tag("homepage/purcell.png", alt: "treadhunter") %>
      <%= image_tag("homepage/atg.png", alt: "treadhunter") %>
      <%= image_tag("homepage/bridgesrone.png", alt: "treadhunter") %>
    </li>
  </ul>
</div>