
<div class="feature-right">
  <ul>
    <li>
      <%= image_tag("homepage/brands/bfg.png", alt: "BF Goodrich") %>
      <%= image_tag("homepage/brands/michelin.png", alt: "Michelin") %>
      <%= image_tag("homepage/brands/conti.png", alt: "Continental") %>
      <%= image_tag("homepage/brands/hankook.png", alt: "Hankook") %>
      <%= image_tag("homepage/brands/pirelli.png", alt: "Pirelli") %>
      <%= image_tag("homepage/brands/yoko.png", alt: "Yokohama") %>
    </li>
    <li>
      <%= image_tag("homepage/brands/bfg.png", alt: "BF Goodrich") %>
      <%= image_tag("homepage/brands/michelin.png", alt: "Michelin") %>
      <%= image_tag("homepage/brands/conti.png", alt: "Continental") %>
      <%= image_tag("homepage/brands/hankook.png", alt: "Hankook") %>
      <%= image_tag("homepage/brands/pirelli.png", alt: "Pirelli") %>
      <%= image_tag("homepage/brands/yoko.png", alt: "Yokohama") %>
    </li>
    <li>
      <%= image_tag("homepage/brands/bfg.png", alt: "BF Goodrich") %>
      <%= image_tag("homepage/brands/michelin.png", alt: "Michelin") %>
      <%= image_tag("homepage/brands/conti.png", alt: "Continental") %>
      <%= image_tag("homepage/brands/hankook.png", alt: "Hankook") %>
      <%= image_tag("homepage/brands/pirelli.png", alt: "Pirelli") %>
      <%= image_tag("homepage/brands/yoko.png", alt: "Yokohama") %>
    </li>
  </ul>
</div>
