<% provide(:title, "Select Car Model") %>
<% provide(:visfire, "true") %>


<div class="container-outer">
	<div class="container-inner">
		<div id="top-search-section">
			<div id="tire-search-outer">
				<h2>SHOP BY:</h2>
				<%= render :partial => 'layouts/search_panel',
						   :locals => {:id => "tire-search2"} %>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<div class="container-outer">
	<div id="search-by-car-type" class="container-inner">
		<hr/>
		
		<div id="fluid-title">
			<h1 class="orange"><%= @car_type %> Tires</h1>
			<p>Select your vehicle's model below to find the right <%= @car_type %> tires for you.</p>
			
			<div id="change-params">
				<span>CHANGE</span>
				<a href="/car_type">CAR TYPE</a>
				<a href="/car_type">MAKE</a>
			</div>
			<div class="clear"></div>
		</div>

		<div id="results" class="row-fluid">
			<ul class="span3">
			
			<%	i = 0
				limit = ((@car_models.length + 3) / 4)
				remain = @car_models.length
				@car_models.each do |x| %>
					<li><a href="/car_year/<%= x.id %>"><%= x.name %></a></li>
				<%	i += 1
					remain -= 1
					if i == limit && remain > 0
						i = 0 %>
				</ul>
				<ul class="span3">
				<%	end %>
			<%	end %>
			
			</ul>
		</div>
	</div>
</div>
