<%= render 'layouts/my_treadhunter/dialog_cancel_order' %>
<%= render 'layouts/my_treadhunter/dialog_confirm_appt' %>

<style>
	.cancel-input {
		float:left;
		margin-right: 10px!important;
	}
	.fade {
	    display: none;
	    position:absolute;
	    top: 0%;
	    left: 0%;
	    width: 100%;
	    height: 100%;
	    background-color: #ababab;
	    background: url(/assets/loading.gif) no-repeat center #fff;
	    z-index: 1001;
	    -moz-opacity: 0.8;
	    opacity: .70;
	    filter: alpha(opacity=80);
	}
	#day-appt-details {
		overflow-y: scroll;
		overflow: auto;
		max-height: 500px;
	}
	.date-title {
		color: #f05a29;
		font-size: 18px;
	}
	.appt-count {
		font-size: 18px;
	}
	.confirm-status {
		color: #f05a29;
	}
	.appt-confirmed {
		font-weight: bold;
		font-size: 16px;
	}
	.appt-store-details, .appt-buyer-details, .appt-order-details {
		margin-left: 25px;
	}
	.appt-even {
		background: none;
	}
	.appt-odd {
		background-color: #EBEBEB;
	}
	.appt-no-order {
		font-weight: bold;
		font-size: 14px;
		color: red;
	}
	.appt-user-buttons {
		padding-bottom: 25px;
	}
	.appt-user-details, .appt-order-details {
		padding-top: 10px;
	}
</style>

<script>
	$( "#dialog-order" ).dialog({
		autoOpen: false,
		show: "blind",
		closeText: "hide",
		maxWidth: 300,
		width: 300,
		fluid: true,
		position: { my: 'top', at: 'top+50' }
	});

	$( "#dialog-cancel-order" ).dialog({
		autoOpen: false,
		show: "blind",
		closeText: "hide",
		maxWidth: 300,
		fluid: true,
		width: 300,
		position: { my: 'top', at: 'top+50' }
	});	

	$( "#dialog-confirm-appt" ).dialog({
		autoOpen: false,
		show: "blind",
		closeText: "hide",
		maxWidth: 300,
		fluid: true,
		width: 300,
		position: { my: 'top', at: 'top+50' }
	});

	function begin_confirm_appt(appt_id, primary_request, secondary_request) {
		$('#dialog-confirm-appt').dialog('open');
		document.getElementById('confirm-appt-fade').style.display = 'none';
		$("#confirm_appt_id").val(appt_id);
		$("#primary-request-time").text(primary_request);
		$("#secondary-request-time").text(secondary_request);
	}

	function begin_cancel_order(order_id, appt_id) {
		$("#cancel-err").hide();
		$('#dialog-cancel-order').dialog('open');
		document.getElementById('cancel-order-fade').style.display = 'none';
		$('#cancel-appt-panel').hide();
		$('#cancel-order-panel').show();
		$("#cancel_order_id").val(order_id);
		$("#cancel_order_appt_id").val(appt_id);
	}

	function begin_cancel_appt(appt_id) {
		$('#dialog-cancel-order').dialog('open');
		document.getElementById('cancel-order-fade').style.display = 'none';
		$('#dialog-cancel-order').find("#cancel_appt_id").val(appt_id);
		$('#cancel-appt-panel').show();
		$('#cancel-order-panel').hide();
	}

	function load_and_show_order(order_id) {
		$("div#dialog-order").html('<center><br /><img src="/assets/loading.gif"/><br /><p>Loading...</p></center>');
		$('#dialog-order').dialog('open');

		$.ajax({
			type: "GET",
			dataType: "html",
			url: '/appointments/ajax_order_details',
			data: {order_id: order_id},
			success:function(result){
				$("div#dialog-order").html(result);
				$("div#appt-order-details").show();
			},
			error:function(result){
				$("div#appt-order-details").hide();
				$("#btn-deny-appt").hide();		
			}
		});
	}

	var currently_selected_day = null;

	function show_day_appointments(date, date_element) {
		if (currently_selected_day != null)
			currently_selected_day.css('background', 'none');
		if (date_element != undefined)
			$(date_element).css('background-color', '#f05a29');

		currently_selected_day = $(date_element);

		$.ajax({
			type: "GET",
			dataType: "html",
			url: '/appointments/html_appointments_by_day',
			data: {appt_date: date.format()},
			success:function(result){
				$("#appt-details").hide();
				$("#day-appt-details").show();
				$("#please-choose").hide();
				$("#day-appt-details").html(result);
			},
			error:function(result){
				alert("Error loading appointments.");
      			$("#please-choose").show();
      			$("#appt-details").hide();
      			$("#day-appt-details").hide();
			}
		});
	}

	function findContainerForDate(date) {
	    var firstDayFound = false;
	    var lastDayFound = false;
	    var calDate = $('#svc-calendar').fullCalendar('getDate');

	    var allDates = $('td[class*="fc-day-number"]');
	    var allDayContainers = $('td[class*="fc-widget-content"]');
	    for (var index = 0; index < allDates.length; index++) {
	        var container = allDates[index];
			month = calDate.get('month');

			dayNumber = $(container).html();
	        if (dayNumber == 1 && ! firstDayFound) {
	            firstDayFound = true;
	        }
	        else if (dayNumber == 1) {
	            lastDayFound = true;
	        }

	        if (! firstDayFound) {
	            month--;
	        }
	        if (lastDayFound) {
	            month++;
	        }

	        if (month == date.get('month') && dayNumber == date.get('date')) {	   
	        	return allDayContainers[index + 1];
	            // return container;
	        }
	    }
	}

	function show_calendar(bShowCalendar) {
		if (bShowCalendar) {
			$("#appt-list-view").hide();
			$("#appt-calendar-view").show();

			$('#svc-calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,basicWeek,basicDay'
				},
				height: 500,
				events: <%= raw(@appt_json) %>,
				eventOrder: "calendar_sort",
				eventRender: function(event, element) {
					if (false)
						element.find('.fc-title').append("<br/>" + event.buyer_name + "<br/>" + "<font color='lightgreen'>" + event.order_price + "</font>"); 
					else {
						if (event.order_price != "")
							element.find('.fc-title').append("<br/>" + "<center>" + event.calendar_line1 + "</center>" + "<font color='lightgreen'><center>" + event.order_price + "</center></font>"); 
						else
							element.find('.fc-title').append("<br/>" + "<center>" + event.calendar_line1 + "</center>"); 
					}

				},
				dayClick: function(date, jsEvent, view) {
					show_day_appointments(date, $(this));
				},
				eventClick: function(event, jsEvent, view) {
					date = event.start;
					show_day_appointments(date, findContainerForDate(date));
				}
			});
		} else {
			$("#appt-calendar-view").hide();
			$("#appt-list-view").show();

			var $table = $("#appointments-table");

			$table.DataTable({
				paging: false,
				info: false,
                responsive: true,
                aoColumnDefs: [{ "bSortable": false, "aTargets": sorting_disabled_columns}],
                bSortClasses: false,
				searching: search_enabled,
			});
		}
	}
</script>

<script>
	var order_id = 0;
	var current_appt = null;

	$(window).ready(function() {
		$( "#dialog-order" ).dialog({
			autoOpen: false,
			show: "blind",
			// hide: "explode",
			width: "auto"
		});
	});

	function display_appt(appt) {
		$("#please-choose").hide();
		$("#appt-details").show();
		$("#day-appt-details").hide();

		order_id = appt.id;
		current_appt = appt;

		$("div.appt-user-name").text(appt.buyer_name);
		$("div.appt-user-phone").text(appt.formatted_buyer_phone);
		$("div.appt-user-email").text(appt.buyer_email);

		if (appt.confirmed_flag == true) {
			$("div#appt-confirmed-value").text(appt.confirmed_time);
			// $("div#appt-user-buttons").hide();
			$("div#appt-unconfirmed").hide();
			$("div#appt-confirmed").show();
		} else {
			$("div#appt-primary-value").text(appt.primary_request_time);
			$("div#appt-secondary-value").text(appt.secondary_request_time);
			// $("div#appt-user-buttons").show();
			$("div#appt-unconfirmed").show();
			$("div#appt-confirmed").hide();
		}
		if (appt.order_id == null) {
			$("div#appt-order-details").hide();
			$("div#appt-has-no-order-details").show();	
			$("#btn-deny-appt").show();
		} else {
			$("div#order-total").text(appt.order_price);
			$("div#appt-order-details").show();
			$("div#appt-has-no-order-details").hide();
			$("#btn-deny-appt").hide();
			$.ajax({
				type: "GET",
				dataType: "html",
				url: '/appointments/ajax_order_details',
				data: {order_id: appt.order_id},
				success:function(result){
					$("div#dialog-order").html(result);
					$("div#appt-order-details").show();

					var userButtonHTML = "";
					userButtonHTML = userButtonHTML + 
									'<a href="#" onclick="begin_cancel_order(' + result.id +
									', ' + appt.id + 
									')" class="btn cancel-btn" style="width: 50px;">CANCEL</a>';
					$("#appt-user-buttons").html(userButtonHTML);
				},
				error:function(result){
					$("div#appt-order-details").hide();
					$("#btn-deny-appt").hide();		
				}
			});
		}
	}

	function replace_event(result) {
		appt = JSON.parse(result);
		display_appt(appt);

		var newEvent = new Object();
		newEvent.id = appt.id;
		newEvent.title = appt.title;
		newEvent.start = appt.start;
		newEvent.allDay = appt.end;
		newEvent.buyer_name = appt.buyer_name;
		newEvent.order_price = appt.order_price;
		newEvent.color = appt.color;

		$('#svc-calendar').fullCalendar( 'removeEvents', appt.id );
		$('#svc-calendar').fullCalendar( 'renderEvent', newEvent );		
	}

	function confirm_primary_without_confirmation(appt_id) {
		document.getElementById('confirm-appt-fade').style.display = 'block';
		$.ajax({
			type: "GET",
			dataType: "html",
			url: '/appointments/confirm_primary',
			data: {appt_id: appt_id},
			success:function(result){
				$('#dialog-confirm-appt').dialog('close');
				reload_current_tab();
			},
			error:function(result){
				$('#dialog-confirm-appt').dialog('close');
				alert("Error confirming appointment.");
			}
		});
	}

	function confirm_secondary_without_confirmation(appt_id) {
		document.getElementById('confirm-appt-fade').style.display = 'block';
		$.ajax({
			type: "GET",
			dataType: "html",
			url: '/appointments/confirm_secondary',
			data: {appt_id: appt_id},
			success:function(result){
				$('#dialog-confirm-appt').dialog('close');
				reload_current_tab();
			},
			error:function(result){
				$('#dialog-confirm-appt').dialog('close');
				alert("Error confirming appointment.");
			}
		});
	}

	function deny_appt_without_confirmation(appt_id) {
		document.getElementById('cancel-order-fade').style.display = 'block';
		$.ajax({
			type: "GET",
			dataType: "html",
			url: '/appointments/deny_appointment',
			data: {appt_id: appt_id},
			success:function(result){
				document.getElementById('cancel-order-fade').style.display = 'none';
				$('#dialog-cancel-order').dialog('close');
				reload_current_tab();
			},
			error:function(result){
				document.getElementById('cancel-order-fade').style.display = 'none';
				$('#dialog-cancel-order').dialog('close');
				alert("Error denying appointment.");
			}
		});
	}

	function cancel_order(order_id, appt_id) {
		var cancel_reason = "";
		if ($('input[name="reason"]:checked').val() == "pricing_error")
			cancel_reason = "Pricing error - the price on the website is incorrect.";
		else if ($('input[name="reason"]:checked').val() == "cannot_obtain")
			cancel_reason = "Cannot obtain - I do not have these tires in stock and cannot get them.";
		else if ($('input[name="reason"]:checked').val() == "other")
			cancel_reason = $("#reason_desc").val();

		document.getElementById('cancel-order-fade').style.display = 'block';
		$.ajax({
			type: "GET",
			dataType: "html",
			url: '/ajax/cancel_order',
			data: {order_id: order_id,
					reason: cancel_reason},
			success:function(result){
				document.getElementById('cancel-order-fade').style.display = 'none';
				$('#dialog-cancel-order').dialog('close');
				$('#svc-calendar').fullCalendar( 'removeEvents', appt_id );
      			$("#please-choose").show();
      			$("#appt-details").hide();
      			$("#day-appt-details").hide();
      			reload_current_tab();
			},
			error:function(result) {
				document.getElementById('cancel-order-fade').style.display = 'none';

      			// $("#please-choose").show();
      			// $("#appt-details").hide();
			  	var err_text = "Error canceling order:<br\>";
			  	var json = eval('(' + result.responseText + ')');

			  	for (propertyName in json)
			  		err_text = err_text + json[propertyName] + "<br \>";

			  	$("#cancel-err").html(err_text);
			  	$("#cancel-err").show();
			}
		});
	}
</script>


<div id="show-order-dialog">
    <div id="dialog-order" title="Order Details">
    </div>
</div>

<div id="appt-list-view">
	View: <b>LIST</b> | <a href="#" style="color: #f05a29;" onclick="show_calendar(true);">CALENDAR</a>
	<hr />
	<table id="appointments-table" class="display">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Store Name</th>
				<th>Date/Time</th>
				<th>Store Phone</th>
				<th>Customer Details</th>
				<th>Appointment Details</th>
				<th>Paid Total</th>
				<th class="nosort">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<% @appointments.each_with_index do |appt, i| %>
				<tr data-id="<%= appt.id %>">
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<%= i + 1 %>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<%= appt.tire_store.name %>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<div class="order-date">
							<%= appt.appt_time_short %><br />
							<%= appt.secondary_appt_time_short %>
						</div>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<%= appt.tire_store.formatted_phone_number %>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<%= appt.buyer_name %><br/><%= appt.formatted_buyer_phone %>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<%= appt.tire_description %>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<% if !appt.order.nil? && appt.order.status == :billed %>
							<%= appt.order.total_order_price_money %>
						<% end %>
					</td>
					<td class="<%= (i % 2) == 0 ? 'even' : 'odd' %>">
						<% if appt.confirmed_flag == false %>
							<div><a href="#" onclick="begin_confirm_appt(<%= appt.id %>, '<%= appt.primary_request_time %>', '<%= appt.secondary_request_time %>')"
								class="btn confirm-btn" style="width: 50px;">CONFIRM</a></div>
						<% end %>
						<% if !appt.order.nil? && appt.order.status == :billed %>
							<div><a href="#" 
									onclick="begin_cancel_order(<%= appt.order_id %>, <%= appt.id %>);" 
									class="btn cancel-btn" 
									style="width: 50px;">CANCEL</a></div>
						<% else %>
							<div><a href="#" onclick="begin_cancel_appt(<%= appt.id %>);" class="btn cancel-btn" style="width: 50px;">CANCEL</a></div>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="appt-calendar-view" style="display: none;">
	View: <a href="#" style="color: #f05a29;" onclick="show_calendar(false);">LIST</a> | <b>CALENDAR</b>
	<hr />

	<div id="registration-mid-part-left" class="span4">
		<div id="please-choose">
			<h2>
			Please select an appointment.
			</h2>
			<br />
		</div>
		<div id="appt-details" style="display: none;">
			<div id="appt-user-details" class="appt-user-details">
				<div class="appt-user-name">
					User Name
				</div>
				<div class="appt-user-phone">
					770-555-1212
				</div>
				<div class="appt-user-email">
					bob@bob.com
				</div>
				<div class="appt-user-type">
					Registered User
				</div>
				<div id="appt-confirmed" class="appt-confirmed">
					<div id="appt-confirmed-value"></div>
					<h3>Confirmed</h3>
				</div>
				<div id="appt-unconfirmed" class="appt-unconfirmed">
					<div class="appt-primary-request">
						<div class="ilb">Primary:</div>
						<div class="ilb" id="appt-primary-value">Wednesday, February 17, 2015 12:00</div>
					</div>
					<div class="appt-secondary-request">
						<div class="ilb">Secondary:</div>
						<div class="ilb" id="appt-secondary-value">Thursday, February 18, 2015 10:00</div>
					</div>
				</div>
				<div id="appt-order-details" class="appt-order-details" style="display: none;">
					<div class="order-total-label ilb">Order Total:</div>
					<div id="order-total" class="ilb order-total">$5.99</div><br />
					<a href="#" onclick="$('#dialog-order').dialog('open');">
						View Order Details
					</a>
				</div>

				<div id="tires-ordered-details" class="tires-ordered-details">
				</div>

				<div id="appt-has-no-order-details" class="appt-has-no-order-details" 
						style="display: none;">
					<span class="appt-no-order">
						Note: this appointment request is not associated with an order,
						so you will need to collect payment upon services rendered.
					</span>
				</div>		
			</div>
	
			<div id="appt-user-buttons" class="appt-user-buttons">
			</div>
		</div>
		<div id="day-appt-details" class="day-appt-details" style="display: none;">
		</div>
	</div>
 
	<div id='registration-mid-part-right' class="span8" >
		<div id='calendar-container'>
			<div id='svc-calendar'></div>
		</div>
	</div>	
</div>