<% c = 'cars' if c.nil? %>
<select class="<%= c %>" 
        id="auto_years" 
        name="auto_year_id" 
        select_year_path="/ajax/update_auto_options">
  <option value="">Year</option>
  <% @years.each do |y| %>
    <% if y.id == session[:auto_year_id] %>
      <option selected="selected" value="<%= y.id %>"><%= y.modelyear %></option>
    <% else %>
      <option value="<%= y.id %>"><%= y.modelyear %></option>
    <% end %>
  <% end %>
</select>
<script>
  $('select#auto_years').change(function() {
    document.getElementById('auto_options').innerHTML = '<select class="<%= c %>" id="auto_options" name="option_id"><option value="" selected="selected">Loading...</option></select>';
    v = $(this).attr('value');
    if(typeof v == 'undefined')
      v = $('select#auto_years').val();    
    $.ajax({
      type: "GET",
      dataType: "html",
      url: $(this).attr('select_year_path'),
      data: {auto_year_id: v, c: $(this).attr('class')},
      success:function(result){
        $("div#auto_options").html(result);} 
    })
  });
</script>