<% if @cur_consolidated.nil? %>
<div class="search-content-left-inner">
<% else %>
<div class="search-content-left-store-inner1">
<% end %>
	<div class="search-content-left-inner-a">
		<div class="search-img">
			<img src="/assets/generic.png"></img>
		</div>
		<div class="search-text">
			<div style="margin: 60px 10px;;">
				<p style="font-size: 1.5em; line-height: 30px;"><i>Brands vary</i></p>
			</div>
		</div>
	</div>
	<div class="search-content-left-inner-b">
		<div class="search-right">
			<% if @tire_listing.respond_to?(:distance) %>
				<h3><%= @tire_listing.tire_store.name %></h3>
			<% elsif !@tire_listing.tire_size.nil? %>
				<h3><%= @tire_listing.tire_size.sizestr %></h3>
			<% end %>
			<ul>
				<li><%= @tire_listing.gendesc %></i>
				</li>
			</ul>
		</div>
		<div class="search-right-b">
			<p>only</p>
			<h4>$<%= @tire_listing.discounted_price %></h4>
			<% if @tire_listing.is_new %>
				<p style="line-height: 4px;">each</p>
			<% end %>
			<a class="search-right-b-img" href="<%= url_for @tire_listing %>">VIEW TIRE</a>

			<% if @tire_listing.has_rebate && @tire_listing.has_price_break %>
				<span class="promotions">Save even more after rebate!<br />Includes price break!</span>
			<% elsif @tire_listing.has_rebate %>
				<span class="promotions">Save even more after rebate!</span>
			<% elsif @tire_listing.has_price_break %>
				<br />
				<span class="promotions">Includes price break!</span>
			<% end %>					
		</div>
	</div>
</div>
